/* dropdown-notifications.component.scss */

.dropdown {
    position: relative;
    display: inline-block;

    .badge {
        background-color: red;
        color: white;
        padding: 4px 8px;
        border-radius: 50%;
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 200px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        z-index: 1;
        padding: 0.5rem;
        a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;

            &:hover {
                background-color: #f1f1f1;
            }
        }
    }

    &:hover {
        .dropdown-menu {
            display: block;
        }
    }
}
