.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 20px;
    .operations {
        display: flex;
        justify-content: center;
        align-items: center;
        .year-dropdown {
            margin-left: auto;
        }
    }

    .months {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .month {
            cursor: pointer;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            padding: 5px 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            color: #333;
            transition: background-color 0.3s;

            &.active {
                border: 2px solid #007bff;
                color: #000;
            }

            // &:hover {
            //     border: 1px solid #007bff;
            //     color: #000;
            // }
            .importpayed {
                position: absolute;
                height: 69.697%;
                background: #2eed3a47;
                width: 100%;
                display: block;
                bottom: 0;
            }
        }
    }

    .year-dropdown {
        width: 150px;
    }
}
.table-deadlines {
    width: 100%;
    border-collapse: collapse;
    th,
    td {
        border: 1px solid #dddddd;
        padding: 8px;
        text-align: left;
    }

    tr.entity {
        cursor: pointer;
        background-color: rgb(248, 247, 247);

        .payer-edit-wrapper {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }

    tr.entity:hover {
        background-color: #f3f0f0;
    }
    .inner-table {
        width: 100%;
        border-collapse: collapse;
        th,
        td {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: left;

            .remainingdays {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                padding: 0.5rem;
                font-size: 1rem;
                font-weight: 900;
                &.danger {
                    background-color: #fff;
                    color: rgb(198, 23, 23);
                }
                &.warning {
                    background-color: #fff;
                    color: rgb(238, 159, 14);
                }
            }
            .deadlinestatus {
                select {
                    font-size: 1rem;
                    font-weight: 900;
                    border-radius: 10px;
                    padding: 0.5rem;
                    width: 100%;
                    border: none;
                    color: #fff;
                }
                &.danger {
                    select {
                        background-color: rgb(
                            246,
                            48,
                            48
                        ); /* Cambia il colore del testo per le scadenze non pagate */
                    }
                }

                &.payed {
                    select {
                        background-color: rgb(
                            85,
                            203,
                            85
                        ); /* Cambia il colore del testo per le scadenze pagate */
                    }
                }
            }
        }
    }
}
.top-table-operations {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    .import-csv {
        margin-left: auto;
    }
}
.table-totals-wrapper {
    display: flex;
    flex-direction: row-reverse;
    .table-totals {
        margin: 1rem 0;
        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    }
}
.list-entities {
    .table-entities {
        width: 100%;
        th,
        td {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: left;
        }
        .actions {
            button {
                background: none;
                border: none;
                img {
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}
.import-deadlines-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    .deadlines {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        .deadline {
            display: flex;
            background-color: rgb(227, 225, 225);
            padding: 0.4rem;
            border-radius: 10px;
            &.insert {
                background-color: rgb(168, 247, 168);
                color: #349905;
                border: 1px solid #13b304;
            }
            &.update {
                background-color: rgb(251, 241, 174);
                color: #c47d04;
                border: 1px solid #f09d0d;
            }
            &.error {
                background-color: rgb(251, 174, 174);
                color: #c42104;
                border: 1px solid #f03a0d;
            }
        }
    }
}
