.list-permission {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .item {
        padding: 1rem;
        border-radius: 5px;
        &.approved {
            background-color: rgba(195, 246, 195, 0.64);
        }

        &.medical {
            background-color: rgba(217, 192, 242, 0.64);
        }

        &.waiting {
            // background-color: rgb(249, 247, 247);
            // color: white;
            background-color: rgb(249, 247, 247);
        }

        &.rejected {
            background-color: rgba(248, 211, 195, 0.828);
        }
        .fields {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;

            .info-wrapper {
                .identifier {
                    span {
                        padding: 0.4rem;
                        background-color: white;
                        border-radius: 10px;
                        font-weight: 700;
                    }
                }
            }

            div {
                padding: 0.5rem;
                flex: 1 1 0;

                @media screen and (max-width: 600px) {
                    display: flex;
                    justify-content: space-around;
                    flex: inherit;
                    width: 50%;
                }

                &.status span {
                    font-size: large;

                    &.approved {
                        color: rgb(14, 153, 14);
                    }

                    &.waiting {
                        color: rgb(49, 47, 38);
                    }

                    &.rejected {
                        color: rgb(220, 87, 29);
                    }
                }

                &.title {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 0.3rem;
                }

                &.dates {
                    .days {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;
                        background-color: white;
                        border-radius: 5px;

                        .day {
                            font-weight: 500;
                        }
                    }
                }

                &.message {
                    // width: 20%;
                    @media screen and (max-width: 600px) {
                        font-size: 0.8rem;
                    }
                }

                &.actions {
                    display: flex;
                }
            }
        }
    }
}
