#modal-geo-permission {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(103, 102, 102, 0.342);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
        gap: 1rem;
        img {
            width: 65px;
            height: 65px;
        }
        .close-btn {
            cursor: pointer;
            top: 10px;
            right: 10px;
            background: none;
            border: none;
            font-size: 16px;
            color: #333; // adjust as needed
            border: 1px solid #333;
        }
    }
}
