
.attendance-button-wrapper{
    display: flex;
    justify-content: center;

      .attendance-button {
        display: grid;
        position: relative;
        cursor: pointer;
        width: 150px;
        height: 150px;
        background: linear-gradient(to bottom, rgb(245, 240, 243) 0%, rgb(188, 187, 187) 100%);
        border-radius: 50%;
        line-height: 150px;
        text-align: center;
        text-decoration: none;
        color: white;
        &.active-checkin{
            background: linear-gradient(to bottom, rgb(123, 187, 133) 0%, rgb(48, 163, 33) 100%);

        }
        &.active-checkout{
            background: linear-gradient(to bottom, rgb(241, 199, 131) 0%, rgb(193, 109, 13) 100%);

        }
        &.disabled{
            background: linear-gradient(to bottom, rgb(245, 240, 243) 0%, rgb(188, 187, 187) 100%);

        }
        span{
          font-size: 1.2rem;
          text-transform: uppercase;
          font-weight: 500;
        }
      }
      
      
      .attendance-button::before {
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: #00000047;
        opacity: 0;
        content: '';
        animation: pulse 1s infinite;
      }
      
      .attendance-button:hover::before {
        animation: none;
        opacity: .4;
        transform: scale(1.3);
      }
      .attendance-button.is-clicked {
        background: linear-gradient(to bottom, gray 0%, dimgray 100%);
      }
      .attendance-button.is-clicked:before {
        animation: blastOut 1s;
      }
      
      @keyframes pulse {
        from {
          transform: scale(1);
          opacity: .4;
        }
        to {
          transform: scale(1.3);
          opacity: 0;
        }
      }
      
      @keyframes blastOut {
        from {
          transform: scale(0.9);
          opacity: .4;
        }
        to {
          transform: scale(10);
          opacity: 0;
        }
      }
}
.ui-fileupload-row{
  display: flex;
  justify-content: space-around;
  
}