.list-permission{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .item{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        background-color: rgb(249, 247, 247);
        padding: 1rem;
        border-radius: 5px;
      

        &.approved{
            background-color: rgba(195, 246, 195, 0.64);
        }
        &.waiting{
            // background-color: rgb(249, 247, 247);
            // color: white;
        }
        &.rejected{
            background-color: rgba(248, 211, 195, 0.828);
        }
        div {
            padding: 0.5rem;
            flex: 1 1 0;

            @media screen and (max-width: 600px) {
                display: flex;
                justify-content: space-around;
                flex: inherit;
                width: 50%;
            }

            &.title{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 0.3rem;

            }
            &.dates{
                .days{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    .day{
                        font-weight: 500;
                    }
                }
               
            }
            &.message{
                // width: 20%;
                @media screen and (max-width: 600px) {
                    font-size: 0.8rem;
                }
            }
            &.actions{
                display: flex;

            }
            
        }
    }
}